/* 吹き出し */
.speech-bubble {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.speech-bubble.left {
  justify-content: flex-start;
}

.speech-bubble.right {
  flex-direction: row-reverse;
}

.bubble-image {
  border-radius: 50%;
  margin: 0 10px;
}

.bubble-content {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  background-color: #ecffe9;
  display: flex;
  flex-direction: column;
}

.speech-bubble.left .bubble-content:after,
.speech-bubble.right .bubble-content:after {
  content: '';
  position: absolute;
  top: 40%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}

.speech-bubble.left .bubble-content:after {
  left: -20px;
  border-right-color: #ecffe9;
}

.speech-bubble.right .bubble-content:after {
  right: -20px;
  border-left-color: #ecffe9;
}

.bubble-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.bubble-text {
  margin: 0;
}

.bubble-image-wrapper {
  display: flex;
  align-items: center;
}

.bubble-image-wrapper.left {
  margin-right: 10px;
}

.bubble-image-wrapper.right {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .bubble-content {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background-color: #ecffe9;
    display: flex;
    flex-direction: column;
  }
}

/* マーカー */
.underline_blue {
  background: linear-gradient(transparent 70%, skyblue 70%);
}
.underline_red {
  background: linear-gradient(transparent 70%, pink 70%);
}
.underline_yellow {
  background: linear-gradient(transparent 70%, yellow 70%);
}
.underline_code {
  background-color: #f7f7fc;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  color: #2b2c30;
  margin: 0 2px;
  padding: 2px 4px;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
